blinker
click
dnspython
filelock
Flask
Flask-Cors
Flask-PyMongo
fsspec
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
pymongo
python-dotenv
regex
setuptools
sympy
torch
tqdm
typing_extensions
Werkzeug
pytest
